In [1]:
%reload_ext sql

DB_ENDPOINT = "localhost"
DB = 'pagila'
DB_USER = 'postgres'
DB_PASSWORD = 'root'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://postgres:root@localhost:5432/pagila

In [2]:
%%time
%%sql
SELECT dd.month, ds.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimstore ds ON fs.store_key = ds.store_key
GROUP BY cube(dd.month, ds.country)

 * postgresql://postgres:***@localhost:5432/pagila
24 rows affected.
CPU times: user 4.5 ms, sys: 627 µs, total: 5.13 ms
Wall time: 113 ms

[(None, None, Decimal('808998.12')),
 (5, 'Canada', Decimal('68755.32')),
 (7, 'Australia', Decimal('57651.36')),
 (3, 'Canada', Decimal('65844.60')),
 (2, 'Australia', Decimal('60300.12')),
 (5, 'Australia', Decimal('67723.56')),
 (2, 'Canada', Decimal('61200.72')),
 (1, 'Australia', Decimal('17646.84')),
 (4, 'Australia', Decimal('65819.76')),
 (3, 'Australia', Decimal('71253.36')),
 (4, 'Canada', Decimal('63138.60')),
 (1, 'Canada', Decimal('19430.88')),
 (7, 'Canada', Decimal('59475.12')),
 (6, 'Australia', Decimal('64326.24')),
 (6, 'Canada', Decimal('66431.64')),
 (7, None, Decimal('117126.48')),
 (1, None, Decimal('37077.72')),
 (5, None, Decimal('136478.88')),
 (4, None, Decimal('128958.36')),
 (2, None, Decimal('121500.84')),
 (6, None, Decimal('130757.88')),
 (3, None, Decimal('137097.96')),
 (None, 'Canada', Decimal('404276.88')),
 (None, 'Australia', Decimal('404721.24'))]

In [3]:
%%time
%%sql
SELECT  NULL as month, NULL as country, sum(sales_amount) as revenue
FROM factSales
    UNION all 
SELECT NULL, dimStore.country,sum(sales_amount) as revenue
FROM factSales
JOIN dimStore on (dimStore.store_key = factSales.store_key)
GROUP by  dimStore.country
    UNION all 
SELECT cast(dimDate.month as text) , NULL, sum(sales_amount) as revenue
FROM factSales
JOIN dimDate on (dimDate.date_key = factSales.date_key)
GROUP by dimDate.month
    UNION all
SELECT cast(dimDate.month as text),dimStore.country,sum(sales_amount) as revenue
FROM factSales
JOIN dimDate     on (dimDate.date_key         = factSales.date_key)
JOIN dimStore on (dimStore.store_key = factSales.store_key)
GROUP by (dimDate.month, dimStore.country)

 * postgresql://postgres:***@localhost:5432/pagila
24 rows affected.
CPU times: user 4.26 ms, sys: 4 µs, total: 4.26 ms
Wall time: 74.1 ms

[(None, None, Decimal('808998.12')),
 ('7', None, Decimal('117126.48')),
 (None, 'Canada', Decimal('404276.88')),
 (None, 'Australia', Decimal('404721.24')),
 ('1', None, Decimal('37077.72')),
 ('5', None, Decimal('136478.88')),
 ('4', None, Decimal('128958.36')),
 ('2', None, Decimal('121500.84')),
 ('6', None, Decimal('130757.88')),
 ('3', None, Decimal('137097.96')),
 ('5', 'Canada', Decimal('68755.32')),
 ('7', 'Australia', Decimal('57651.36')),
 ('3', 'Canada', Decimal('65844.60')),
 ('2', 'Australia', Decimal('60300.12')),
 ('5', 'Australia', Decimal('67723.56')),
 ('2', 'Canada', Decimal('61200.72')),
 ('1', 'Australia', Decimal('17646.84')),
 ('4', 'Australia', Decimal('65819.76')),
 ('3', 'Australia', Decimal('71253.36')),
 ('4', 'Canada', Decimal('63138.60')),
 ('1', 'Canada', Decimal('19430.88')),
 ('7', 'Canada', Decimal('59475.12')),
 ('6', 'Australia', Decimal('64326.24')),
 ('6', 'Canada', Decimal('66431.64'))]